<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我是JiawuZhang，是个 <span id="js-rotating">聪明, 伶俐, 善良, 可爱</span> 的中年大叔。</h4>
  </div>
  <div class="user-content">
    <p>
       
    </p>
    <p>
      这是我的个人博客，记录学习python过程中的各种问题。
    </p>
    <p>
      人生苦短，我用python!如果这些记录对你有一点点的帮助，我会很高兴的。
    </p>
  </div>
</div>